
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}


{% block body %}


      <!--Heading-->
        <h1 class='text-center mb-4 mt-3'><strong> Welcome to online quiz app</strong></h1>
        <h2 class='text-center mb-4 mt-3'>Login to participate in Quiz</h2>


        <!--Image-->
        <div class="container-fluid " style='margin-left: 0px; padding-left: 0px;'>
        
            <img src="{% static 'img/1.jpg' %}" class='mb-3' >
        
        </div>


{% endblock body %}
