
<div class="container ">


    <h4>1.) What is the Capital of India?</h4>
        <input type="radio" name="answer1" id="">
        <label for="answer1">Delhi</label><br>


        <input type="radio" name="answer1" id="">
        <label for="answer1">Kolkata</label><br>


        <input type="radio" name="answer1" id="">
        <label for="answer1">Mumbai</label><br>


        <input type="radio" name="answer1" id="">
        <label for="answer1">Bangalore</label><br>


        <button type="submit">Check answer</button><br>


    <button type="submit">Submit</button>

</div>